{% load static %}
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
  <link rel="stylesheet"
        href="{% static 'customstyles.css' %}"/>
  
  <meta name="description"
    content="An interactive map showing the locations of shipwrecks in the New England area, and some additional data layers."/>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.neshipwrecksmap.com/">
  <meta property="og:title" content="New England Shipwreck Map">
  <meta property="og:description" content="An interactive map showing the       locations of shipwrecks in the New England area, and some additional data layers.">
  <meta property="og:image"
    content="{% static 'meta_image.png' %}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.neshipwrecksmap.com/">
  <meta property="twitter:title" content="New England Shipwreck Map">
  <meta property="twitter:description" content="An interactive map showing the locations of shipwrecks in the New England area, and some additional data layers.">
  <meta property="twitter:image" content="{% static 'meta_image.png' %}"><title>New England Shipwreck Map</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MK6MY7ZT9H"></script>
  <script src="{% static 'google_analytics.js' %}"></script>
   <!-- Datasheet modal iframe -->
  <script src="{% static 'datasheet_modal.js' %}"></script>
</head>