{% load static %}
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
  <title>New England Shipwreck Map</title>
  <meta name="description"
    content="An interactive map showing the locations of shipwrecks in the New England area, and some additional data layers."/>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
  <a class="github-fork-ribbon left-bottom" href="https://github.com/heathhenley/Shipwrecks" data-ribbon="Help with this app!" title="Contribute on GitHub!">Contribute on GitHub!</a>
  <style>.github-fork-ribbon:before { background-color: #333; }</style>
  <div id="map" style="height: 100%; width: 100%;"></div>
  <script>
    var ocean_base = L.tileLayer(
      'https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}',
      {
	      attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU,   UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri',
	      maxZoom: 16
      });
    var noaa_enc = L.tileLayer.wms(
      "https://gis.charttools.noaa.gov/arcgis/rest/services/MCS/NOAAChartDisplay/MapServer/exts/MaritimeChartService/WMSServer",
      {
        layer: ['0', '1', '2', '3', '4', '5', '6', '10'],
        maxZoom: 19,
        attribution: 'NOAA'
      });
    // Sonar image overlays
    var imageUrl_hs = "{% static 'combined_depth_4000x4000_numhits5_hillshade_1.png' %}";
    var imageUrl_color = "{% static 'combined_depth_4000x4000_numhits5_2.png' %}";
    var imageBounds = [[41.4300632, -71.4547447], [41.6728435, -71.2838381]];
    var fs_overlay_color = L.imageOverlay(imageUrl_color, imageBounds);
    var fs_overlay_relief = L.imageOverlay(imageUrl_hs, imageBounds);
    var fs_layer = L.layerGroup([fs_overlay_relief, fs_overlay_color]);
    // NOAA Sonar Data BAG shaded relief
    var noaa_bag = L.tileLayer(
      "https://tiles.arcgis.com/tiles/C8EMgrsFcRFL6LrL/arcgis/rest/services/bag_hillshades/MapServer/WMTS/tile/1.0.0/bag_hillshades/default/default028mm/{z}/{y}/{x}",
      {
        maxZoom: 16,
        attribution: 'NOAA NCEI'
      });
    // The map!
    const map = L.map(
      'map',
      {'center': [41.47, -71.35],
       'zoom':  12,
       'layers': [ocean_base]});
    // Legend and entries
    var layerControl = L.control.layers(
      // base maps
      {"ESRI Ocean Base" : ocean_base,
       "NOAA Nautical Chart": noaa_enc},
      // overlays
      {"<a href='https://www.farsounder.com' >FarSounder</a> FLS Gridded Bathymetry" : fs_layer,
      "<a href='https://www.ncei.noaa.gov/maps/bathymetry/'>NOAA</a> Shaded Bathymetry BAG" : noaa_bag},
      // options
      {"collapsed": false}).addTo(map);
  </script>
  <!--
    Here's the fun part - adding all the wreck markers we passed in from
       the view handler.
  -->
  {% if wrecks_list %}
      {% for wreck in wrecks_list %}
          <script>
            var marker = L.marker(
              ["{{ wreck.latitude }}", "{{ wreck.longitude }}"]
              ).addTo(map);
            var wh_link = "{% if wreck.wreckhunter_link %}<a href={{ wreck.wreckhunter_link }} target=\"_blank\" rel=\"noopener noreferrer\" >Datasheet</a>{% else %}{% endif %}";
            var bl_link = "{% if wreck.beavertail_link %}<a href={{ wreck.beavertail_link }} target=\"_blank\" rel=\"noopener noreferrer\" >Datasheet</a>{% else %}{% endif %}";
            var name = "<strong>{{ wreck.vessel_name }}</strong>";
            var year =  "{% if wreck.year > 0 %}{{wreck.year}}{%endif%}";
            var msg_box = name;
            if (year !== "") {
              msg_box += "<br>Year Lost: " + year + "</br>";
            }
            if (wh_link.length > 0 || bl_link.length > 0) {
              msg_box += "<br>There is more information available at the following resources. Note: all data at the following links is from external sources, please refer to the linked sources for usage or reproduction constraints.</br>";
              msg_box += "<ul>";
              if (wh_link.length > 0) {
                msg_box += "<li>Wreck Hunter (<a href='http://wreckhunter.net/' target=\"_blank\" rel=\"noopener noreferrer\">Website</a>, " + wh_link + ")</li>"; 
              }
              if (bl_link.length > 0) {
                msg_box += "<li>Beavertail Lighthouse Museum (<a href='https://beavertaillight.org/wrecks/' target=\"_blank\" rel=\"noopener noreferrer\">Website</a>, " + bl_link + ")</li>";
              }
              msg_box += "</ul>";
            } else {
              msg_box += "<br>There are no datasheets or references available for this wreck...yet :) .</br>"
            }
            marker.bindPopup(msg_box);
          </script>
      {% endfor %}
  {% else %}
      <p>No wrecks in are available.</p>
  {% endif %}
</body>