<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
</head>

<body>
  <div id="map" style="height: 100%; width: 100%;"></div>
  <script>
    const map = L.map('map').setView([41.47, -71.35], 12);
    L.tileLayer.wms(
      "https://gis.charttools.noaa.gov/arcgis/rest/services/MCS/NOAAChartDisplay/MapServer/exts/MaritimeChartService/WMSServer",
      {
        layer: ['0', '1', '2', '3', '4', '5', '6', '10'],
        maxZoom: 19,
        attribution: 'NOAA'
      }).addTo(map);
  </script>
  {% if wrecks_list %}
      {% for wreck in wrecks_list %}
          <script>
            var marker = L.marker(
              ["{{ wreck.latitude }}", "{{ wreck.longitude }}"]
              ).addTo(map);
            marker.bindPopup(
              "<a href={{ wreck.wreckhunter_link }} target=\"_blank\" rel=\"noopener noreferrer\" >{{ wreck.vessel_name }} ({{ wreck.year }})</a>");
          </script>
      {% endfor %}
  {% else %}
      <p>No wrecks in are available.</p>
  {% endif %}
</body>