{% load static %}
<script src="{% static 'map_utils.js' %}"></script>

{{ wrecks_list | json_script:"wrecks_list" }}

<script>
  // Add map base and overlay layers
  var ocean_base = L.tileLayer(
    'https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}',
    {
      attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU,   UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri',
      maxNativeZoom: 16,
      maxZoom: 19,
    });
  var noaa_enc = L.tileLayer.wms(
    "https://gis.charttools.noaa.gov/arcgis/rest/services/MCS/NOAAChartDisplay/MapServer/exts/MaritimeChartService/WMSServer",
    {
      layer: ['0', '1', '2', '3', '4', '5', '6', '10'],
      maxZoom: 19,
      attribution: 'NOAA'
    });
  // Sonar image overlays
  var imageUrl_hs = "{% static 'combined_depth_4000x4000_numhits5_hillshade_1.png' %}";
  var imageUrl_color = "{% static 'combined_depth_4000x4000_numhits5_2.png' %}";
  var imageBounds = [[41.4300632, -71.4547447], [41.6728435, -71.2838381]];
  var fs_overlay_color = L.imageOverlay(imageUrl_color, imageBounds);
  var fs_overlay_relief = L.imageOverlay(imageUrl_hs, imageBounds);
  var fs_layer = L.layerGroup([fs_overlay_relief, fs_overlay_color]);
  // NOAA Sonar Data BAG shaded relief
  var noaa_bag = L.tileLayer(
    "https://tiles.arcgis.com/tiles/C8EMgrsFcRFL6LrL/arcgis/rest/services/bag_hillshades/MapServer/WMTS/tile/1.0.0/bag_hillshades/default/default028mm/{z}/{y}/{x}",
    {
      maxNativeZoom: 15,
      maxZoom: 19,
      attribution: 'NOAA NCEI'
    });

  // Parse JSON into js array of wrecks
  var wrecks_list = JSON.parse(
  document.getElementById('wrecks_list').textContent);
  var wreck_markers = [];
  for (key in wrecks_list) {
    var wreck = wrecks_list[key]
    var marker = L.marker([wreck['latitude'], wreck['longitude'],
                          {title: wreck['vessel_name']}]);
    marker.bindPopup(make_popup(wreck), {'maxWidth' : 375});
    wreck_markers.push(marker);
  }
  var wreck_group = L.layerGroup(wreck_markers);

  // The map!
  const map = L.map(
    'map',
    {'center': [41.47, -71.35],
    'zoom':  12,
    'layers': [ocean_base, wreck_group]});

  // Legend and entries
  var layerControl = L.control.layers(
    // base maps
    {"ESRI Ocean Base" : ocean_base,
    "NOAA Nautical Chart": noaa_enc},
    // overlays
    {"<a href='https://www.farsounder.com' >FarSounder</a> FLS Gridded Bathymetry" : fs_layer,
    "<a href='https://www.ncei.noaa.gov/maps/bathymetry/'>NOAA</a> Shaded Bathymetry BAG" : noaa_bag,
    "Shipwrecks" : wreck_group},
    // options
    {"collapsed": false}).addTo(map);
</script>